body {
    background-image: linear-gradient(to bottom right, #34b4dc, #cbd39a);
    display: flex;
    font-family: 'Kanit';
    font-style: normal;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#totorin {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    max-width: 600%;
    min-width: 50%;
    z-index: 10;
    margin-right: -10%;
}